@import '../../styles/shared.scss';
/*
  The .ui.menu is needed otherwise there's a more specific rule from semantic UI
  we use this rule to tweak the SCSS
*/
.ui.menu.top-menu {
  background-image: linear-gradient(#243b55, #141e30); //243b55
  border: none;
  .logo {
    width: $sidebar-left-width;
  }
  .nav-container {
    flex-grow: 1;
    padding: 4.8px;

    .search-input {
      padding-left: 0;
      width: 50%;
      ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #abe4ff;
        opacity: 1; /* Firefox */
      }

      form {
        width: 100%;
      }
    }
  }

  .header-icon {
    color: #006b8b;
  }

}